body {
    background-color: paleturquoise;
    color: blue;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10%;
    opacity: 0.7;

}

h1 {
    font-size: 150%;
}

article {
    font-size: 50%;
    color: blue;

}

span {
    font-weight: bold;
    font-size: 125%;

}

#screen__display {
    height: 60%;
    letter-spacing: 0.2rem;
    background-color: grey;
    text-align: center;
    text-justify: center;
    opacity: 0.;
    font-size: 100%;

}

section.screen {
    width: 80%;
    height: 48%;
    color: blue;
    font-size: 250%;

}

form {
    position: absolute;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-items: stretch;
    align-items: stretch;
    opacity: 0.9;

}

button {

    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 250%;

}

input {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
}