@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: #f0e5df;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.calculator {
  background-image: linear-gradient(-45deg, rgba(241, 245, 2, 0.1), rgba(241, 245, 2, 0.5));
  font-family: "Roboto", sans-serif;
  width: 350px;
  height: 700px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 30px;
}

h1 {
  font-size: 300%;
  margin: 5px;
  padding: 2px;
  align-items: center;
  color: #4e4cd7;
  color: #f1682c;
  text-align: center;
  border-radius: 30px;
  width: 325px;
  opacity: 0.6;
}

section.screen {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 325px;
  font-size: 100%;
}
section.screen .screen__explaination {
  font-size: 80%;
  margin: 5px;
  align-items: center;
  color: #4e4cd7;
  color: #f1682c;
  text-align: center;
  border-radius: 30px;
  width: 325px;
  opacity: 0.5;
}
section.screen #screen__display {
  width: 325px;
  height: 200px;
  background-color: #f1682c;
  color: white;
  text-align: center;
  text-justify: center;
  border-radius: 10px;
  margin: 5px;
  padding: 2px;
  box-shadow: 3px 3px grey;
}
section.screen #screen__display p {
  margin: 5px;
}
section.screen #screen__display p span {
  font-weight: bold;
  font-size: 125%;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  width: 325px;
}

input {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  border: none;
  margin: 10px;
  padding: 2px;
  color: grey;
  background-color: rgba(255, 255, 255, 0);
  height: 50px;
  border-radius: 10px;
  box-shadow: 3px 3px grey;
}
input:hover {
  opacity: 0.6;
  border: 1px grey solid;
}
input:focus {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: none;
}

.form__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 2px;
}
.form__buttons .form__buttons__refresh {
  border-radius: 10px;
  box-shadow: 3px 3px grey;
}
.form__buttons .form__buttons__refresh:hover {
  background-color: #4e4cd7;
}
.form__buttons .form__buttons__calc {
  border-radius: 10px;
  box-shadow: 3px 3px grey;
}
.form__buttons .form__buttons__calc:hover {
  background-color: #f1682c;
  color: white;
  border: none;
}
.form__buttons button {
  width: 140px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: grey;
}